@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800;900&display=swap');
:root {
    font-family: "Poppins", sans-serif;
}
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #95D5B5;
}
.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-bottom: 49px;
    height: 5rem;
}
#logo-image {
    width: 52px;
    height: 52px;
    margin-right: 18px;
}
.logo{
    font-size: 32px;
    color: #FFFFFF;
;
    text-decoration: none;
    font-weight: 700;
}
.searchbar {
    width: 445px;
    height: 47px;
    background-color: #B1CDC6;
    border-radius: 30px;
    display: flex;
}
.searchbar input {
    width: 370px;
    height: 47px;
    background-color: inherit;
    padding-left: 8px;
    border: none;
    font-size: 16px;
}
.searchbar input:focus {
    outline: 0px solid black;
}
.search-icon {
    background-image: url("../Spritesheet.png");
    width: 32px;
    height: 32px;
    background-position: -80px -1px;
    margin-left: 12px;
    margin-top: 6px;
}
.navbar a {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #01211C;
    transition: .3s;
}
.navbar a:hover::before {
    width: 100%;
} 
.navbar a.icon:hover::before {
    width: 0%;
}
.container{
    display: flex;
    width: auto;
}
#notif {
    width: 40px;
    height: 40px;
    background-position: 0px 0px;
}
.user {
    width: 40px;
    height: 40px;
    background-position: -40px 0px;
}
/**---------------END OF HEADER---------------------**/

#post {
    flex: 2;
    margin: 10px;
    width: 770px;
    min-height: 150px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    padding: 20px;
}
.post-container{
    margin: 0 auto 0 auto;
    max-width: 57rem !important;
    padding: 0 !important;
}
.post-wide {
    margin: 0 auto 15px auto;
    width: 56.0625rem;
    max-height: 25.1875rem;
    overflow-y: hidden;
    border-radius: 30px;
    background: #125053;
    padding: 20px 32px 20px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#postedBy{
    font-weight: lighter;
    font-size: smaller;
}
#message {
    padding-bottom: 40px;
}
#comments {
    color: gray;
    margin: auto;
    font-size:small;
}