@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800;900&display=swap');
:root {
    font-family: "Poppins", sans-serif;
}
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #95D5B5;
}

.header {

    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #01211C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-bottom: 40px;
}
.logo{
    font-size: 32px;
    color: #FFFFFF;
;
    text-decoration: none;
    font-weight: 700;
}
.navbar a {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navbar input {
    position: relative;
    width: 400px;
    height: 30px;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #01211C;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
} 

#post {
    
display: flex;
margin: auto;
width: 770px;
min-height: 150px;
flex-shrink: 0;
border-radius: 30px;
background: #FFF;
padding: 20px;
}
#postedBy{
    font-weight: lighter;
    font-size: smaller;
}
#message {
    padding-bottom: 40px;
}
#comments {
    color: gray;
    margin: auto;
    font-size:small;
}
.welcome {
    font-weight: bold;
    font-size:60px;
    height: auto;
    color: #01211C;
    /* padding: 60px;
    font-size:70px;
    display: flex; */
}
.welDisc {
    font-weight: bold;
    font-size:20px;
    height: auto;
    color: #01211C;
}
#homePage {
    display: flex;
    flex-shrink: 0;
    margin: 35px;
    padding: 60px;
    align-items: center;
    min-height: 60vh;
}
.Group5{
    width: 438px; 
    height: 469px; 
    left: 847px; 
    top: 211px; 
    position: absolute
}
.something{
    padding-right: 300px;
    padding: 40px;
}
.Rectangle8 {
    width: 438px;
    height: 469px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: white;
    border-radius: 10px;
  }
  
  .HopRightIn {
    left: 104px;
    top: 50px;
    position: absolute;
    color: #01211C;
    font-size: 35px;
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .LoginWithYourAccount {
    left: 121px;
    top: 117px;
    position: absolute;
    text-align: center;
    color: #34393F;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .Group2 {
    width: 316px;
    height: 37px;
    left: 61px;
    top: 186px;
    position: absolute;
  }
  
  .Rectangle9 {
    width: 316px;
    height: 37px;
    left: 0px;
    top: 0px;
    position: absolute;
    border-bottom: 3px #01211C solid;
  }
  
  .Username {
    left: 10px;
    top: 6px;
    position: absolute;
    color: rgba(1, 33, 28, 0.60);
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 3.20px;
    word-wrap: break-word;
    border: none;
  }
  
  .Group1 {
    width: 316px;
    height: 37px;
    left: 61px;
    top: 280px;
    position: absolute;
  }
  
  .Rectangle10 {
    width: 316px;
    height: 37px;
    left: 0px;
    top: 0px;
    position: absolute;
    border-bottom: 3px #01211C solid;
  }
  
  .Password {
    left: 10px;
    top: 6px;
    position: absolute;
    color: rgba(1, 33, 28, 0.60);
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 3.20px;
    word-wrap: break-word;
    border: none;
  }
  
  .Group3 {
    width: 203px;
    height: 50px;
    left: 117px;
    top: 375px;
    position: absolute;
  }
  
  .Rectangle11 {
    width: 203px;
    height: 50px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #01211C;
    border-radius: 5px;
  }
  
  .Login {
    left: 71px;
    top: 13px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 3.20px;
    word-wrap: break-word;
  }
.Group4 {
    width: 390px;
    height: 49px;
    left: 871px;
    top: 710px;
    position: absolute;
  }
  
  .Line1 {
    width: 390px;
    height: 0px;
    left: 0px;
    top: 25px;
    position: absolute;
    border: 5px rgba(1, 33, 28, 0.74) solid;
  }
  
  .Rectangle12 {
    width: 83px;
    height: 49px;
    left: 153px;
    top: 0px;
    position: absolute;
    background: #95D5B5;
  }
  
  .Or {
    left: 175px;
    top: 3px;
    position: absolute;
    color: rgba(1, 33, 28, 0.74);
    font-size: 25px;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 2.50px;
    word-wrap: break-word;
  }
  
  .CreateAnAccount {
    left: 911px;
    top: 767px;
    position: absolute;
    color: #083E35;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 1.50px;
    word-wrap: break-word;
    text-decoration: none;
  }
  