/* body {
    background: #D9D9D9;
}

header {
    background-color: white;
    position: fixed;
    padding: 10px 0;
    top: 0;
    width: 100%;
    z-index: 100;
    left: 0;
    color: black;
    height: 62px;
    display: flex;
    align-items: center;
}
nav .searchBar {
    margin-left: 280px;

}
nav .searchBar1 {
    width: 650px; 
    background-color: #D9D9D9; 
    padding: 7px;
    margin: 1px;
    flex-grow: 9999;
    font-size: 18px;
    border-radius: 20px;
    padding-left: 20px;
}
#logo {
    margin-left: 20px;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800;900&display=swap');
:root {
    font-family: "Poppins", sans-serif;
}
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: url('/Users/will.tesalona/Downloads/blueBackground.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header {

    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-bottom: 40px;
}
.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navbar input {
    position: relative;
    width: 400px;
    height: 30px;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
} 

#post {
    
display: flex;
margin: auto;
width: 770px;
min-height: 150px;
flex-shrink: 0;
border-radius: 30px;
background: #FFF;
padding: 20px;
}
#postedBy{
    font-weight: lighter;
    font-size: smaller;
}
#message {
    padding-bottom: 40px;
}
#comments {
    color: gray;
    margin: auto;
    font-size:small;
}

#popular{
    float: right;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
}